TrainingProject/.vs/TrainingProject/v15/Server/sqlite3/storage.ide
TrainingProject/.vs/TrainingProject/v15/Server/sqlite3/storage.ide-shm
TrainingProject/.vs/TrainingProject/v15/Server/sqlite3/storage.ide-wal
/TrainingProject/.vs/TrainingProject/DesignTimeBuild
/Backend/WebAPIs/.vs/WebAPIs/v15/Server/sqlite3/*.lock
/Backend/WebAPIs/.vs/WebAPIs/v15/Server/sqlite3/*.ide
/Backend/WebAPIs/.vs/WebAPIs/v15/Server/sqlite3/*.ide-shm
/Backend/WebAPIs/.vs/WebAPIs/v15/Server/sqlite3/*.ide-wal
/Backend/WebAPIs/.vs/WebAPIs/DesignTimeBuild/*.dtbcache
/Backend/WebAPIs/.vs/config/*.config
