TrainingProject/.vs/TrainingProject/v15/Server/sqlite3/storage.ide
TrainingProject/.vs/TrainingProject/v15/Server/sqlite3/storage.ide-shm
TrainingProject/.vs/TrainingProject/v15/Server/sqlite3/storage.ide-wal
/TrainingProject/.vs/TrainingProject/DesignTimeBuild
