<div>
  <div id="new-user">
    <!-- <a [routerLink]="['register']">sign up</a> -->
    <button class="btn btn-info" [routerLink]="['register']">sign up</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 inner-margin">
    <form class="form login-pop-over" #loginForm="ngForm" (ngSubmit)="login(loginForm)" novalidate>
      <img src="../../assets/images/logo_training.png">
      <div class="form-group">
        <input type="text" autocomplete="off" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel"
          placeholder="Username" [ngClass]="{ 'is-invalid': username.errors && submitted}" required />
        <div *ngIf="submitted && username.errors?.required" class="invalid-feedback">*required</div>
      </div>

      <div class="form-group">
        <input type="password" autocomplete="off" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel"
          placeholder="Password" [ngClass]="{ 'is-invalid': password.errors && submitted}" required />
        <div *ngIf="submitted && password.errors?.required" class="invalid-feedback">*required</div>
      </div>

      <div class="form-group">
        <button class="btn btn-info form-control" type="ngSubmit">Login</button>
      </div>
      <div *ngIf="errorCheck" class="alert alert-danger">{{error}}</div>
    </form>

  </div>
  <div class="col-md-4">
  </div>
</div>
