.login-pop-over {
  width: auto;
  height: auto;
  background-color: white;
  margin: 10% auto 0;
  padding: 30px 30px 10px;
  border-radius: 30px;
  text-align: center
}

#image {
  background-image: url('../../assets/images/logo_training.png');
}

.top-margin{
  margin-top: 45px;
}

img {
  height: 250px;
  width: auto;
  padding-bottom: 30px;
}

.inner-margin{
  padding-left: 50px;
  padding-right: 50px;
}


