<div class="body-content">
<h3>
  DashBoard
</h3>
<br>
<table>
  <div>
    <br>
    <div id="form-style">
      <table cellspacing="3" cellpadding="4">
        <tr>
          <td>
            <table class="table table-striped table-bordered" style="width:30%">
              <tr>
                <th>Products</th>
              </tr>
              <tr>
                <td>{{statistics.productCount}}</td>
              </tr>
            </table>
          </td>
          <td>
            <table class="table table-striped table-bordered" style="width:30%">
              <tr>
                <th>Categories</th>
              </tr>
              <tr>
                <td>{{statistics.categoryCount}}</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </div>
</table>
</div>