#text_link {
    margin-left: 850px;
}

#table_head {
    font-size: medium;
}

#full_list{
    margin-left:5px;
}

#table_style {
    min-height: 350px;
    overflow: scroll;
}

p {
    color: red;
    font-family: Arial;
    margin-top: 5px;
    margin-left: 400px;
    font-size: 18px;
}