<div class="row" id="side-margin">
  <div class="col-sm-12 col-lg-12 col-xl-12 no-padding">
    <main class="ml-auto dashtop-gap dash-main">
      <div>
        <header class="row">
          <div class="col-md-1 col-lg-1 col-xl-1 no-padding">
            <img src="../../assets/images/logo_training.png" class="img-fluid img-prop" />
          </div>
          <div class="col-md-6 col-lg-6 col-xl-6 no-padding">
            <h1 class="page-margin">Application</h1>
          </div>
          <div class="col-md-5 col-lg-5 col-xl-5">
            <h5>
              <a class="logout-prop" href="" (click)="logout()" >Logout</a>
            </h5>
          </div>
        </header>

        <div class="row">
          <div class="col-md-1 sidebar-padding ">
            <app-sidebar></app-sidebar>
          </div>
          <div class="col-md-11">
            <div class="sub-container">
              <div class="col-md-12 no-padding">
                <router-outlet>

                </router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
