@model TrainingProject.Models.LoginModel

@{
    ViewBag.Title = "LoginScreen";
}

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/LoginStyle.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Login.js"></script>
</head>

<body>

    <div class="container-fluid" id="divMain">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-5">
                <div id="banner">
                    <h2>User Login</h2>
                </div>
                <br>
                @using (Html.BeginForm("LoginScreen", "Login", FormMethod.Post, new { id = "form_login" }))
                {
                    <div>
                        <label for="userName">Username </label>
                        @Html.TextBoxFor(lpage => lpage.Username, new { maxlength = 20, autocomplete = "off", id = "userName" })
                        <span hidden id="error_username" class="error">This field is required.</span>
                    </div>
                    <div>
                        <label for="password">Password </label>
                        @Html.PasswordFor(lpage => lpage.Password, new { maxlength = 20, id = "password" })
                        <span hidden id="error_password" class="error">This field is required.</span>
                    </div>
                    <div id="div_btn">
                        <button type="submit" value="Submit" id="sub_btn">Submit</button>
                        <button type="reset" value="Reset" id="res_btn">Reset</button>
                        <div id="view_message">
                            @ViewBag.Message_IncorrectLogin
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-3"></div>
        </div>

    </div>
</body>


