<div class="left-sidebar-new">
    <nav>
        <ul class="nav sidebar-nav navbar-fixed-left bgcolor">
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a>Products</a>
            </li>
            <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a>Categories</a>
            </li>
        </ul>
    </nav>
</div>
